.circle-button {
  border: none;
  cursor: pointer;
  border-radius: 50%;
  font-family: 'Noto Sans KR', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 24px;
  width: 50px;
  height: 50px;
  font-size: 20px;
  padding: 5px;
  background: blue;
  color: white;
}
.circle-button:hover {
  background: blue;
  opacity: 0.7;
}
.circle-button:active {
  background: blue;
  transform: scale(0.9);
  transition: background 0.1s;
}
