body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
    'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
  color: inherit;
}
*,
:after,
:before {
  box-sizing: border-box;
  flex-shrink: 0;
}
:root {
  -webkit-tap-highlight-color: transparent;
  text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  cursor: default;
  line-height: 1.5;
  overflow-wrap: break-word;
  tab-size: 4;
}

html,
body {
  height: 100%;
}
html {
  font-size: 62.5%;
  line-height: 1.285;
}
body {
  font-size: 1.6rem;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
button {
  background: none;
  border: 0;
  cursor: pointer;
}
a {
  text-decoration: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
ol,
ul,
menu,
dir {
  list-style: none;
}

.App {
  background-color: #d9afd9;
  background-image: linear-gradient(0deg, #d9afd9 0%, #97d9e1 100%);
}
input,
select {
  background-color: transparent;
}

@keyframes fade-in-out {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

#toast-fadeInOut {
  animation: fade-in-out 3s ease-in-out;
}

input {
  border: 2px solid rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  padding-left: 5px;
  outline: none;
}

input:focus {
  border: 2px solid #0984e3;
}

.room-card {
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
}
